.dashboard {
  display: flex;
  flex-direction: column;
  gap: 50px;
  padding-top: 40px;
}

.dashboard-greeting-container {
  width: 100%;
  display: flex;
  gap: 225px;
  align-items: center;

  .greeting {
    width: calc(100% - 475px);
    font-size: 48px;
  }
}

#dashboard-weather {
  width: fit-content;

  mat-progress-bar {
    transform: translateY(200px);
    transition: all 0.6s ease;
  }
}

.weather-container {
  position: relative;
  width: 400px;
  height: 100px;
  padding: 20px;
  transform: translateY(165px);
  transition: all 0.6s ease;

  &.open {
    height: 555px !important;
  }

  mat-form-field {
    width: 100%;
  }

  .weather-box {
    text-align: center;
    visibility: hidden;
    overflow: hidden;

    &.active {
      visibility: visible;

      .box {
        transform: translateY(0%);
        transition: transform 1s ease;
        transition-delay: 0.6s;
      }
    }

    .box {
      transform: translateY(-100%);
    }

    img {
      width: 60%;
    }

    .temperature {
      position: relative;
      font-size: 64px;
      font-weight: 700;
      line-height: 1;
      margin-left: -30px;
      transform: translateY(-20px);

      span {
        position: absolute;
        font-size: 24px;
        margin-left: 4px;
      }
    }

    .description {
      font-size: 24px;
      font-weight: 500;
      text-transform: capitalize;
      transform: translateY(-20px);
    }
  }

  .weather-details-container {
    position: absolute;
    bottom: 40px;
    left: 0;
    width: 100%;
    padding-inline: 20px;
    display: flex;
    visibility: hidden;
    overflow: hidden;

    &.active {
      visibility: visible;

      .weather-details {
        transform: translateY(0%);
        transition: transform 1s ease;
        transition-delay: 1.2s;
      }
    }

    .weather-details {
      display: flex;
      justify-content: center;
      align-items: center;
      width: 50%;
      transform: translateY(-300%);

      mat-icon {
        height: 56px;
        font-size: 56px;
        width: 56px;
        margin-right: 10px;
      }

      span {
        display: inline-block;
        font-size: 22px;
        font-weight: 500;
      }

      .text p {
        font-size: 14px;
        font-weight: 500;
        margin: 0;
      }
    }
  }

  .not-found {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    margin-top: 76px;
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    padding: 40px;
    visibility: hidden;
    overflow: hidden;

    &.active {
      visibility: visible;

      .box {
        transform: translateY(0%);
        transition: transform 1s ease;
        transition-delay: 0.6s;
      }
    }

    .box {
      text-align: center;
      transform: translateY(-150%);

      mat-icon {
        width: 54px;
        height: 54px;
        font-size: 54px;
        margin-bottom: 5px;
      }

      p {
        font-weight: 500;
        text-wrap: balance;
      }
    }
  }
}

.open {
  transform: translateY(0%);
}

.clock-container {
  width: fit-content;

  .clock-wrapper {
    position: relative;
    width: 250px;
    height: 250px;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    box-shadow: 0px 0px 10px rgba(66, 66, 66, 0.15),
      inset 5px 5px 10px rgba(66, 66, 66, 0.1),
      inset 5px 5px 20px rgba(66, 66, 66, 0.1),
      inset -5px -5px 45px rgba(66, 66, 66, 0.3);

    .number-hours {
      position: absolute;
      width: 100%;
      height: 100%;
      border-radius: 50%;
      color: #555399;

      span {
        position: absolute;
        inset: 6px;
        text-align: center;

        p {
          text-shadow: 0 0 10px #555399;
        }
      }
    }

    .hands-box {
      position: relative;
      display: flex;
      justify-content: center;
      align-items: center;

      .hand {
        position: absolute;
        border-radius: 50%;
        display: flex;
        justify-content: center;

        i {
          display: inline-block;
          transform-origin: bottom;
          border-radius: 50%;
          box-shadow: 0 0 10px #555399;
        }
      }

      .hours {
        width: 140px;
        height: 140px;

        i {
          width: 6px;
          height: 70px;
          background: #555399;
        }
      }

      .minutes {
        width: 200px;
        height: 200px;

        i {
          width: 6px;
          height: 100px;
          background: #555399;
        }

        &::before {
          content: "";
          position: absolute;
          top: 50%;
          transform: translateY(-50%);
          width: 6px;
          height: 6px;
          border-radius: 50%;
          box-shadow: 0 0 5px #555399;
          background: #555399;
        }
      }
    }
  }
}

.informations {
  width: 100%;
  display: flex;
  gap: 75px;

  .user-informations {
    width: calc(100% - 430px);
    max-width: 800px;
    display: flex;
    flex-direction: column;
    gap: 20px;
  }

  .user-age-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 20px;

    .info-container {
      width: 50%;
      display: flex;
      flex-direction: column;

      mat-icon {
        height: 46px;
        width: 46px;
        font-size: 46px;
      }
    }
  }

  .info-container {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    gap: 30px;
    padding: 20px;

    span {
      font-size: 20px;
    }

    span:last-of-type {
      font-size: 32px;
      font-weight: 700;
    }

    mat-icon {
      height: 54px;
      width: 54px;
      font-size: 54px;
    }
  }
}

@media (max-width: 1440px) {
  .dashboard-greeting-container {
    gap: 125px;
  }
  .weather-container {
    width: 300px;
  }
  .weather-details-container {
    flex-direction: column;
    align-items: center;
    gap: 20px;
  }
  .weather-details {
    width: 100%;
    gap: 10px;
  }
  .detail-icon-container {
    width: 50%;
    display: flex;
    justify-content: flex-end;
    padding-right: 5px;
  }
  .text {
    width: 50%;
    padding-left: 5px;
  }
  .not-found {
    padding: 30px;
  }
  .informations .user-age-container {
    flex-direction: column;

    .info-container {
      width: 100%;
      flex-direction: row;

      mat-icon {
        height: 54px;
        width: 54px;
        font-size: 54px;
      }
    }
  }
  .informations .info-container {
    justify-content: flex-start;
  }
  .info-container span:first-of-type {
    width: 220px;
  }
}

@media (max-width: 1000px) {
  .clock-container .clock-wrapper {
    width: 150px;
    height: 150px;

    .hands-box .hours {
      width: 84px;
      height: 84px;

      i {
        width: 4px;
        height: 42px;
      }
    }

    .hands-box .minutes {
      width: 120px;
      height: 120px;

      i {
        width: 4px;
        height: 60px;
      }
    }
  }
  .dashboard-greeting-container {
    gap: 14%;
  }
  .dashboard-greeting-container .greeting {
    width: fit-content;
  }
  .informations {
    flex-direction: column-reverse;
    gap: 50px;

    .user-informations {
      width: 100%;
    }
  }
  .informations .user-age-container {
    flex-direction: row;

    .info-container {
      width: 50%;
      flex-direction: column;

      mat-icon {
        height: 54px;
        width: 54px;
        font-size: 54px;
      }
    }
  }
  .informations .info-container {
    justify-content: center;
  }
  .info-container span:first-of-type {
    width: fit-content;
  }
  .weather-container {
    transform: translateY(0px);
  }
}

@media (max-height: 1000px) {
  .clock-container .clock-wrapper {
    width: 150px;
    height: 150px;

    .hands-box .hours {
      width: 84px;
      height: 84px;

      i {
        width: 4px;
        height: 42px;
      }
    }

    .hands-box .minutes {
      width: 120px;
      height: 120px;

      i {
        width: 4px;
        height: 60px;
      }
    }
  }
  .dashboard-greeting-container {
    gap: 325px;
  }
}

@media (max-height: 1000px) {
  .weather-container {
    transform: translateY(110px);

    &.open {
      transform: translateY(0px);
      height: 355px !important;
    }
  }
  .weather-container .weather {
    display: flex;
    align-items: center;

    img {
      width: 40%;
    }

    .temperature {
      font-size: 42px;
      transform: translateY(0px);
      margin: 0;
    }

    .description {
      transform: translateY(0px);
      margin: 0;
      margin-left: 50px;
      line-height: initial;
    }
  }
  .informations .user-informations,
  .informations .user-age-container {
    gap: 10px;
  }
  .informations .info-container {
    padding: 10px 20px;
  }
  .informations .user-age-container .info-container {
    gap: 20px;
  }
}

@media (max-height: 1000px) and (max-width: 1440px) {
  .weather-container .weather {
    .temperature {
      font-size: 32px;
    }
    .description {
      font-size: 18px;
    }
  }
  .weather-details-container {
    flex-direction: row;
  }
  .detail-icon-container {
    width: 30%;
    padding-right: 0px;
  }
  .weather-container .weather-details-container .weather-details mat-icon {
    height: 36px;
    font-size: 36px;
    width: 36px;
    margin-right: 0px;
  }
  .text {
    width: fit-content;
    padding-left: 0px;
  }
  .weather-container .weather-details-container .weather-details span {
    font-size: 18px;
  }
  .weather-container .weather-details-container .weather-details .text p {
    font-size: 14px;
    margin: 0;
  }
}
