.mat-drawer-container {
  max-width: 1920px;
  height: 100vh;
  margin-inline: auto;
}

.menu_icon {
  cursor: pointer;
}

.sidenav {
  width: 300px;
}

.logo_container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  min-height: 56px;
  padding-inline: 7px 16px;
  border-bottom: 1px solid rgba(0, 0, 0, 0.2);

  img {
    height: 56px;
  }
}

mat-toolbar,
mat-toolbar-row {
  min-height: 56px;
  height: 56px;
  gap: 16px;
}

.menu_items {
  list-style: none;
  margin-block: 0;
  padding: 0;

  li {
    display: flex;
    align-items: center;
    gap: 16px;
    height: 48px;
    padding-inline: 16px;
    cursor: pointer;

    &:hover {
      background-color: rgba(0, 0, 0, 0.2);
    }

    &:focus {
      outline: none;
    }
  }
}

.router_container {
  padding: 16px 56px;
}

@media (max-width: 1440px) {
  .sidenav {
    width: 200px;
  }
}

@media (max-width: 1200px) {
  .sidenav {
    width: 350px;
  }
}
